<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matcha.dao.EmpDAO">
    <!-- 开启二级缓存 type 选择实现类型-->
    <cache type="com.matcha.cache.RedisCache"/>
    <!-- 级联查询的时候，清空不了级联的缓存，所以使用这个注解 统一缓存 -->
    <cache-ref namespace="com.matcha.dao.UserDAO"/>
    <!-- find by id-->
    <select id="findById" parameterType="String" resultType="EmpEntity">
        select id,name from t_emp where id = #{id}
    </select>

    <!-- update -->
    <update id="update" parameterType="EmpEntity">
        update t_emp set name = #{name} where id = #{id}
    </update>

</mapper>