<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matcha.dao.UserDAO">
    <!-- 开启二级缓存 type 选择实现类型-->
    <cache type="com.matcha.cache.RedisCache"/>
    <!--findAll-->
    <select id="findAll" resultType="UserEntity">
        select id,name,age,bir from t_user
    </select>

    <!-- find by id-->
    <select id="findById" parameterType="String" resultType="UserEntity">
        select id,name,age,bir from t_user where id = #{id}
    </select>

    <!--delete by id-->
    <delete id="deleteById">
        delete from t_user where id = #{id}
    </delete>

    <!-- update -->
    <update id="update" parameterType="UserEntity">
        update t_user set name = #{name}, age = #{age}, bir=#{bir} where id = #{id}
    </update>

    <!-- create  -->
    <insert id="create" parameterType="UserEntity">
        insert into t_user values (#{id},#{name},#{age},#{bir})
    </insert>

</mapper>